#####################################################
#
# List of approvers for codegenome repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*  @dhilung @souljang
